<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>Hello [name]</h1>
  <h2>Please take note of the following information...</h2>

  <ul>
    <li>You made a transaction on [transactionDate]</li>
    <li>Your transaction is now due on Today [dueDate]</li>
  </ul>

  <h3>Please take note that you're to pay [price] your details into <em>xxxxxxxxxx X-bank X-company</em></h3>

  <h4>Thank you!</h4>
</body>

</html>